extends item-layout
block content
  div.header
    div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a(href="/").pure-menu-heading= title
      ul.pure-menu-list
        li.pure-menu-item
          a(href="/").pure-menu-link Home
        li.pure-menu-item
          a(href="/inventory").pure-menu-link Inventory
        li.pure-menu-item
          a(href="/login").pure-menu-link Log in
  div.content-wrapper
    div.content.item-content
      div.pure-g
        div.pure-u-1-5.item-top-boxes
          img(src= "../" + item.img).pure-img
        div.pure-u-3-5.item-top-boxes
          div.pure-u-1.item-info-box.section-heading.item-name-box
            p= item.name
          div.pure-u-1.item-info-box.item-star-box
            +stars
          div.pure-u-1.item-info-box.item-price-box#item-price
            p= '$' + item.price
          div.pure-u-1.item-info-box.get-financing-box#financing-section
            a(href="#").get-financing-link#financing-link Calculate Monthly Payment
        div.pure-u-1-5.item-top-boxes
          div.pure-u-1.section-heading
            p Calculate Shipping
          div.pure-u-1#shipping-info-section
            div.pure-u-1.calc-form-item
              input(id="cs_zip_code" name="cs_zip_code" type="text" maxlength="5" placeholder="Zip Code").zip-input
            div.pure-u-1.calc-form-item
              button(id="cs_submit").pure-button.pure-button-primary Calculate
        div.pure-u-1
          hr
        div.pure-u-1
          div.pure-u-1.section-heading
            p Product Description
          div.pure-u-1.item-description-box
            p= item.description
        div.pure-u-1
          hr
        div.pure-u-2-3.review-section
          div.pure-u-1.section-heading
            p Customer Reviews (#{reviews_count})
          each review in reviews
            div.pure-u-1.review-content
              div.pure-u-1
                p
                  - var rating = (review.rating) ? review.rating : 0;
                  - var rounded_rating = Math.round(rating*2)/2;
                  - var full_stars = Math.floor(rounded_rating);
                  - var half_star = (rounded_rating % 1 != 0);
                  - var o_stars = 5 - Math.ceil(rounded_rating);
                  - for (var i=0; i<full_stars; i++) {
                  i.fa.fa-star.star-style
                  - };
                  - if (half_star) {
                  i.fa.fa-star-half-o.star-style
                  - };
                  - for (var i=0; i<o_stars; i++) {
                  i.fa.fa-star-o.star-style
                  - };
                  - if (typeof review.reviewer_name !== 'undefined') {
                  = ' by ' + review.reviewer_name
                  - };
                  = ' on '
                  - var startTimeISOString = review.date;
                  - var d = new Date(startTimeISOString);
                  - d = new Date( d.getTime() + ( d.getTimezoneOffset() * 60000 ) ).toDateString();
                  - d.replace("00:00:00 GMT-0600 (CST)","");
                  = d
              - if (typeof review.comment !== 'undefined') {
              div.pure-u-1.review-comment
                p= "\"" + review.comment + "\""
              - };
        div.pure-u-1-3.leave-review-section
          div.pure-u-1.section-heading
            p Write a review
          div.pure-u-1.review-content
            form(action="/item/submitReview" method="post").pure-form.pure-form-aligned
              fieldset
                div.pure-control-group.leave-review-rating
                  label(for="rating").leave-review-rating-label Rating
                  select(id="rating" name="rating")
                    option 5
                    option 4
                    option 3
                    option 2
                    option 1
                div.pure-control-group
                  input(id="name" name="name" type="text" placeholder="Name")
                div.pure-control-group
                  input(id="email" name="email" type="email" placeholder="jdoe@example.com")
                div.pure-control-group
                  input(id="comment" name="comment" type="text" placeholder="Comment")
                div.pure-controls.leave-review-button
                  input(id="itemId" name="itemId" type="hidden" value=item.id)
                  button(type="submit" value="Submit").pure-button.pure-button-primary Submit
    div.footer.l-box.is-center View the source of this layout to learn more. Made with love by the YUI Team.
mixin stars
  - var rating = (item.rating) ? item.rating : 0;
  - var rounded_rating = Math.round(rating*2)/2;
  - var full_stars = Math.floor(rounded_rating);
  - var half_star = (rounded_rating % 1 != 0);
  - var o_stars = 5 - Math.ceil(rounded_rating);
  - for (var i=0; i<full_stars; i++) {
  i.fa.fa-star.star-style
  - };
  - if (half_star) {
  i.fa.fa-star-half-o.star-style
  - };
  - for (var i=0; i<o_stars; i++) {
  i.fa.fa-star-o.star-style
  - };